
<div class="vertical-center">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-subtitle>Bienvenido</ion-card-subtitle>
      <ion-card-title>Iniciar Sesion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input type="email" [(ngModel)]="usuario.email" label="Correo" label-placement="floating" fill="outline"
        placeholder="Ingrese su correo"  class="ion-margin-bottom"></ion-input>
      <ion-input type="password" [(ngModel)]="usuario.password" label="Contraseña" label-placement="floating"
        fill="outline" placeholder="Ingrese su contraseña"  class="ion-margin-bottom"></ion-input>
      <ion-button (click)="validarUsuario()">Ingresar</ion-button>
      <ion-button (click)="signInWithGoogle()" >Iniciar sesión con Google</ion-button>
      <ion-button (click)="registrarUsuario()" color="danger">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>
</div>

<ion-alert
  #incorrectAlert
  header="Alert"
  subHeader="Importante"
  message="Contraseña incorrecta"
  [buttons]="alertButtons"
></ion-alert>

<ion-alert
  #userEmptyAlert
  header="Alert"
  subHeader="Importante"
  message="Correo no existe"
  [buttons]="alertButtons"
></ion-alert>

<ion-alert
  #userRegisterAlert
  header="Alert"
  subHeader="Importante"
  message="Usuario registrado con exito"
  [buttons]="alertButtons"
></ion-alert>